<?xml version='1.0' encoding='utf-8'?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="uk.ac.imperial.epicollectplus.html5"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets">
    <name>
        Epicollect+
    </name>
    <description>
        Data Collection Tool
    </description>
    <author
            email="epicollect@imperial.ac.uk"
            href="https://github.com/ImperialCollegeLondon/EpicollectPlus-mobile-client-html5.git">
        Epicollect Team
    </author>
    <content src="index.html?project="/>
    <access origin="*"/>

    <preference name="SplashScreenDelay" value="7000"/>
    <!-- increase load timeout to 2 minutes, because initial instrumentation takes time -->
    <preference
            name="loadUrlTimeoutValue"
            value="120000"/>
    <!-- Fix status bar on ios 7+ -->
    <preference
            name="StatusBarOverlaysWebView"
            value="false"/>
    <preference
            name="StatusBarStyle"
            value="default"/>
    <preference
            name="StatusBarBackgroundColor"
            value="#FFFFFF"/>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180"/>
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60"/>
        <icon src="res/ios/icon-60@2x.png" width="120" height="120"/>
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76"/>
        <icon src="res/ios/icon-76@2x.png" width="152" height="152"/>
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40"/>
        <icon src="res/ios/icon-40@2x.png" width="80" height="80"/>
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57"/>
        <icon src="res/ios/icon@2x.png" width="114" height="114"/>
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72"/>
        <icon src="res/ios/icon-72@2x.png" width="144" height="144"/>
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29"/>
        <icon src="res/ios/icon-small@2x.png" width="58" height="58"/>
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50"/>
        <icon src="res/ios/icon-50@2x.png" width="100" height="100"/>


        <!-- images are determined by width and height. The following are supported -->
        <!--<splash src="res/ios/Default~iphone.png" width="320" height="480"/>-->
        <splash src="res/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

        <preference
                name="MediaPlaybackRequiresUserAction"
                value="true"/>
        <!-- Avoid iCloud backups, only local via iTunes -->
        <preference
                name="BackupWebStorage"
                value="local"/>
        <!-- Disable bouncing scrolling -->
        <preference
                name="DisallowOverscroll"
                value="true"/>
    </platform>
    <platform name="android">
        <!-- Automatically install plugin dependencies (this will also install them for iOS) -->
        <hook
                src="hooks/install-plugins.js"
                type="after_platform_add"/>
        <!-- Android icons and splash screens -->
        <icon
                density="mdpi"
                src="res/android/mdpi.png"/>
        <icon
                density="hdpi"
                src="res/android/hdpi.png"/>
        <icon
                density="xhdpi"
                src="res/android/xhdpi.png"/>
        <icon
                density="xxhdpi"
                src="res/android/xxhdpi.png"/>
        <icon
                density="xxxhdpi"
                src="res/android/xxxhdpi.png"/>
        <preference
                name="SplashScreen"
                value="screen"/>
        <splash
                density="port-hdpi"
                src="res/android/splash-port-hdpi.png"/>
        <splash
                density="port-ldpi"
                src="res/android/splash-port-ldpi.png"/>
        <splash
                density="port-mdpi"
                src="res/android/splash-port-mdpi.png"/>
        <splash
                density="port-xhdpi"
                src="res/android/splash-port-xhdpi.png"/>
        <!-- Target SDK, 2.3+ -->
        <preference
                name="android-minSdkVersion"
                value="10"/>
        <preference
                name="android-targetSdkVersion"
                value="21"/>
        <!-- Force launch mode to always a single instance of the app -->
        <preference
                name="AndroidLaunchMode"
                value="singleTask"/>
    </platform>
</widget>