<!-- Download page, dealing with data download ------------------------------------------------->
<div data-role="page" id="download" data-theme="a">

    <div data-role="header"  data-id="footer">
        <div data-href="back-btn" class="h-nav-item">
            <i class="fa fa-angle-left fa-ep"></i>
            <span class="project-name" data-i10n="forms">Forms</span>
        </div>

        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li class="tab-nav title-tab">
                    <span id="download-label" data-i10n="select_form_download">Select form to download data from</span>
                </li>
            </ul>
        </div><!-- /navbar -->

    </div><!-- /header -->

    <!--  Upload options, only data or only media-->
    <div id="download-forms" data-role="content">

    </div><!-- /content -->
</div><!-- /settings ------------------------------------------------------------------------>