<!-- Entry values list, listing all saved values for an entry--------------------------------------------------------------------------->
<div data-role="page" id="entry-values">

    <!-- Panel with unsync options   -->
    <div data-role="panel" data-position="right" data-display="overlay" data-dismissable="true" data-inset="true" class="ec-panel entry-values-options">
        <ul class="ec-option-list" id="entry-values-options-list" data-role="listview" data-inset="true" data-theme="a" data-corners="false">
            <li id="delete-entry" data-icon="false" class="v-nav-item">

                <div data-href="delete-entry" >
                    <i class="fa fa-trash-o  fa-fw v-nav-item-icon"></i><span class="v-nav-item-label" data-i10n="delete_entry">&nbsp; Delete Entry</span>
                </div>
            </li>
            <li id="unsync-entry" data-icon="false" class="v-nav-item">
                <div data-href="unsync-entry" >
                    <i class="fa fa-unlink  fa-fw v-nav-item-icon"></i><span class="v-nav-item-label" data-i10n="unsync_entry">&nbsp; Unsync Entry</span>
                </div>
            </li>
        </ul>
    </div>

    <div data-role="header"  data-id="footer">

        <div data-href="entry-values-nav-btn" class="h-nav-item">
            <i class="fa fa-bars fa-ep-large" ></i>
            <span class="project-name"></span>
        </div>
        
        <!-- Navigation drawer  -->
            <div id="entry-values-nav-drawer" data-role="panel" data-position="left" data-display="overlay" data-dismissable="true" data-inset="true" data-swipe-close="true" class="ec-panel">
                <ul class="ec-option-list" data-role="listview" data-inset="true" data-theme="a" data-corners="false">
                    <li id="home" class="v-nav-item">
                        <div data-href="home">
                            <i class="fa fa-home  fa-fw v-nav-item-icon" data-href="help"></i><span class="v-nav-item-label" data-i10n="home">&nbsp; Home</span>
                        </div>
                    </li>
                    <li class="v-nav-item ui-disabled">
                        <div data-href="help">
                            <i class="fa fa-question  fa-fw v-nav-item-icon" data-href="help"></i><span class="v-nav-item-label" data-i10n="help">&nbsp; Help</span>
                        </div>
                    </li>
                    <li class="v-nav-item">
                        <div data-href="settings" >
                            <i class="fa fa-cog  fa-fw v-nav-item-icon" data-href="settings"></i><span class="v-nav-item-label" data-i10n="settings">&nbsp; Settings</span>
                        </div>
                    </li>
                    <li class="v-nav-item ui-disabled">
                        <div data-href="rate">
                            <i class="fa fa-star  fa-fw v-nav-item-icon" data-href="rate"></i><span class="v-nav-item-label" data-i10n="rate_us">&nbsp; Rate Us</span>
                        </div>
                    </li>

                </ul>
            </div><!-- /panel -->

        <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal" data-href="entry-values-options">
            <i class="fa fa-ellipsis-v fa-fw fa-ep" ></i>
        </div>

        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li class="tab-nav inactive-tab">
                    <i class="fa fa-caret-left fa-fw fa-ep-small" data-href="#forms"></i><span data-i10n="forms">Forms</span>
                </li>
                <li class="tab-nav active-tab">
                    <span>-current-entry-key-</span>
                </li>
            </ul>
        </div><!-- /navbar -->

    </div><!-- /header -->

    <!--  List of values for an entry-->
    <div id="entry-values-list" data-role="content">
        <ul data-role="listview" data-filter="false" data-filter-placeholder="Filter values..." data-theme="a" data-clear-btn="false">
            <!-- Entry values will be listed here -->
        </ul>
    </div><!-- /content -->
</div><!-- /entries -->
<!--  ---------------------------------------------------------------------------------------->
