<!-- SAVE CONFIRM: screen to show after saving fomr data ---------------- ---------------------------------------------------------------->
<div id="branch-save-confirm" data-role="page" data-theme="a" data-dom-cache="true">

    <div data-role="header"  data-id="footer">
        <div data-href="back-btn" class="h-nav-item">
            <i class="fa fa-angle-left fa-ep-large" ></i>
            <span class="main-form-name"></span>
        </div>

        <div class="ui-grid-solo branch-form-name">
            <div class="ui-block-a">
                <span class="ui-btn-active"> <span class="ui-btn-inner"></span> </span>
            </div>
        </div>

        <div class="ui-grid-b branch-input-nav-tabs">
            <div class="ui-block-a input-prev-btn">
                <span class="input-btn-inner"> <i class="fa fa-caret-left fa-fw fa-ep-small" data-href="previous"></i><span>Previous</span> </span>
            </div>
            <div class="ui-block-b input-progress-bar">
                <div class="bar_container container_tiny">
                    <span class="form-completion-percent">100%</span>
                    <div class="bar_mortice mortice_tiny">
                        <div class="progress progress_tiny" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div><!-- /grid-b -->

    </div><!-- /header -->

    <div id="branch-input-save-confirm" data-role="content" data-theme="a">
        <p class="message" data-i10n="tap_to_store">
            Tap button to store values
        </p>

        <div id="store" class="embedded-btn">
            <i class="fa fa-check  fa-fw fa-ep-embedded-btn"></i>
            <span class="v-nav-item-label" data-i10n="store">Store</span>
        </div>

        <div class="embedded-btn store-edit hidden">
            <i class="fa fa-check  fa-fw fa-ep-embedded-btn"></i>
            <span class="v-nav-item-label" data-i10n="store_edit">Store Edit</span>
        </div>

    </div><!-- /grid-a -->

</div><!-- /feedback -->
<!-- /SAVE CONFIRM ------------------------------------------------------------------------------------------------------------------------>