<!-- SAVE FEEDBACK: screen to show after saving form data ---------------- ---------------------------------------------------------------->
<div id="branch-feedback" data-role="page" data-theme="a" data-dom-cache="true">

    <div data-role="header"  data-id="footer">
        <div data-href="back-btn" class="h-nav-item">
            <i class="fa fa-angle-left fa-ep-large" ></i>
            <span class="main-form-name">Back to main -form_name-</span>
        </div>

        <div class="ui-grid-solo branch-form-name">
            <div class="ui-block-a">
                <span class="ui-btn-active"> <span class="ui-btn-inner"></span> </span>
            </div>
        </div>

    </div><!-- /header -->

    <div id="branch-input-feedback" data-role="content" data-theme="a">
        <p class="message" data-i10n="branch_data_saved_success">
            Branch data saved successfully
        </p>

        <div class=embedded-btns-wrapper>

            <div id="add-entry-branch-form"  class="embedded-btn">
                <i class="fa fa-file-text-o  fa-fw fa-ep-embedded-btn"></i>
                <span class="v-nav-item-label text-align-left"><span data-i10n="add_another">Add another </span><span class="entry">-branch-</span></span>
            </div>
            <div id="back-to-main-form"  class="embedded-btn">
                <i class="fa fa-angle-left  fa-fw fa-ep-embedded-btn"></i>
                <span class="v-nav-item-label text-align-left"><span data-i10n="back_to">Back to</span><span class="form-name-inline">-form_name-</span></span>
            </div>
        </div>
    </div><!-- /grid-a -->

</div><!-- /feedback -->
<!-- /SAVE FEEDBACK ------------------------------------------------------------------------------------------------------------------------>